<ul class="navbar-nav flex-grow-1 fixed-bottom">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Booking" asp-action="Custom">Custom</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Booking" asp-action="Agent">Agent</a>
    </li>


</ul>