@model WebTemplate02.Data.DataModels.InternalModels.DM
<div class="media border p-3">
    <img src="img_avatar3.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
    <div class="media-body">
        <h4>@Model.SenderId <small><i>@Model.TimeSend</i></small></h4>
        <p>@Model.Message @Model.Description</p>
    </div>
</div>