@model WebTemplate02.Data.DataModels.BookingModels.Flight

<div class="media border p-3">
    <img src="img_avatar3.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
    <div class="media-body">
        <h4>@Model.FlightAccountId <small><i>@Model.FlightReservationId</i></small></h4>
        <p>@Model.FlightCode</p>
    </div>
</div>