@model WebTemplate02.Data.DataModels.InternalModels.Transaction
    <div class="media border p-3">
        <img src="img_avatar3.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
            <h4>@Model.ContractorId <small><i>@Model.TimePayment</i></small></h4>
            <p>@Model.Amount</p>
        </div>
    </div>